<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Data Federation Coding Exercise</title>
</head>

<body>
    <h1>Hello recruiters!</h1>
    <p>endpoint: http://127.0.0.1:8080/commodity?start_date=2019-04-17&end_date=2019-05-01&commodity_type=gold</p>
    <p>Checkout the README <span><a target="_blank"
                href="https://github.com/VVNoodle/Investing.com_Scraper">here</a></span></p>
</body>

</html>